*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     font-family: "Sofia", cursive;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar img{
    height: 20px;
    margin:5px 0 0 300px;
}
.navitems li{
    list-style: none;
   margin: 8px;
}
.navitems{
    display: flex;
    margin-right: 300px;
}
.navitems li a{
    text-decoration: none;
    color: black;
}
.navitems li a:hover{
    background-color: antiquewhite;
}
.text-container{
    width: 60%;
    margin: auto;
    text-align: center;
}
.bodytext{
    margin-top: 50px;
    font-size: 60px;
}
.title{
    margin: 80px 50px 0 50px;
}
.text-container{
    margin: auto;
    width: 50%;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.img-container{
    margin: 100px 100px 0 100px ;

}
.img-container img{
    height: 450px;
    width: 450px;
    border-radius: 8px;
}
.img-container img:hover{
    scale: 1.04;
    transition: ease-in 0.3s;
}
.text-background{
    background-color: rgb(239, 231, 221);
}
.footer-logo{
     height: 30px;
    margin:5px 0 0 300px;
}

 footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 .logo{
    height: 20vh;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-self: center;
 }
 .logo img{
    margin-top: 40px;
 }
 .contact-us{
    width: 33vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .icons{
    width: 33vw; 
 }
 .services{
    background-color: rgb(39, 37, 37);
    color: white;
 }
 .our-services{
    display: flex;
    padding: 10px 15px;
 }
 .services .service-title{
    text-align: center;
    font-size: 40px;
 }
 .text-25{
    font-size: 25px;
 }
 .padding-10{
    padding: 10px;
 }
 .webdesign,
.photography,
.graphicdesign{
   padding: 0 50px;
   text-align: center;
}
#team-title{
    text-align: center;
    padding: 20px 0;
}
.team-img{
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 10px !important;
}
.team-img img{
    width: 450px;
}